.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 15px;
    justify-content: center;
    align-items: center;
}

.qr_Code {
    width: 100%;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 10px 0px;
    border-radius: 7px;
}

.img_qr {
    width: 300px;
    height: 100%;
}

.btn_section {
    width: 100%;
}

.btn_section button {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}